/* Roundin sec */
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 90px;
    flex-wrap: wrap;
    padding: 50px;
    /* background-color: #bbbbbb; */
}

.avatar {
    height: 300px;
    width: 300px;
    object-fit: cover; /* Mantém a proporção da imagem */
}

.big-circle {
    height: 100%;
    width: 100%;
    position: relative;
    border: 3px solid #bbbbbb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: Rotate 20s linear infinite;
}

.icon-block {
    width: 64px;
    height: 64px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
}

.icon-block img {
    width: 60%;
    animation: Rotate-reverse 20s linear infinite;
}

.icon-block:first-child {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-block:nth-child(2) {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.icon-block:nth-child(3) {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.icon-block:nth-child(4) {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.rounding-sec {
    position: relative;
    height: 400px;
    width: 400px;
}

.images {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Mantém a proporção da imagem */
}

/* keyframe animation */
@keyframes Rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes Rotate-reverse {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.custom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 90px; */
    flex-wrap: wrap;
    padding: 50px;
    /* background-color: #bbbbbb; */
}

.col-custom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* background-color: black; */
}

h2 {
    color: #d8e4ee;
    font-size: 4rem !important;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 20px;
    /* background-color: #bbbbbb; */
}
.p-especialista {
    color: #d8e4ee;
    text-align: center;
}

@media (max-width: 768px) {
    h2 {
        font-size: 2.5rem !important;
    }
}

@media screen and (max-width: 600px) {
    .main {
        padding: 1px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 70px;
        align-items: center;
        justify-content: center;
        /* background-color: whitesmoke; */
    }
    
    .icon-block {
        width: 40px;
        height: 40px;
    }

    .rounding-sec {
        height: 300px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden; /*Para garantir que a imagem não ultrapasse o contêiner */
        /* background-color: yellowgreen; */
    }

    .images {
        height: 100%; /* Ajusta para 100% para ocupar todo o espaço do contêiner */
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .avatar {
        height: 80%;
        width: 80%;
        object-fit: cover;
    }

    .p-especialista {
        color: #d8e4ee;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
