.companies-container {
    padding: 50px;
    background-color: #010b40;
    text-align: center;
    margin-bottom: 10%;
}

.company-item {
    margin: 0 20px;
}

.company-logo {
    height: 100px;
    object-fit: contain;
}
h2 {
    color: #d8e4ee !important;
    font-size: 4rem !important;
    font-family: "Poppins",Helvetica,Arial,sans-serif;
}

.custom-p {
    font-size: 20px;
    color: #d8e4ee !important;
    font-family: "Poppins",Helvetica,Arial,sans-serif;
}

@media (max-width: 768px) {
    h2 {
        font-size: 2.5rem !important;
    }
    .custom-p {
        font-size: 1rem !important;
    }
}
