.custom-navbar {
    background-color: #010b40;
    min-height: 70px;
    justify-content: center !important;
    display: flex !important;
    flex-direction: column;
}
.nav-brand{
    color: #62abd9 !important;
}
.nav-link {
    color: #62abd9 !important;
}

/* Adicionar estilo para os itens do dropdown */
.nav-link:hover {
    background-color: #6070c266;
    color: #010b40;
    border-radius: 20px;
}
.nav-dropdown-item:hover {
    background-color: #010b40 !important;
    color: white !important; /* Cor do texto ao passar o mouse */
}
