@import "bootstrap/dist/css/bootstrap.min.css";
/* @import 'bootstrap-icons/font/bootstrap-icons.css'; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #010b40;
}

:root {
    --primary:  #010326;
    --secondary: #1771bf;
    --overlay: linear-gradient(358.41deg, #198754 1.32%, rgba(73, 111, 93, 0) 98.65%);
}

/* 
#010326      +escura
#010b40
#032ca6
#1771bf
#62abd9      +clara
*/